{% extends "layout.html" %}

{% block content %}
    <div class="container-sm">
        {% with messages = get_flashed_messages() %}
            {% if messages %}  
               {% for message in messages %}
                    <div class="row justify-content-end">
                        <div class="col-md-auto text-center">
                            <div class="alert alert-success" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>            
               {% endfor %}  
            {% endif %}  
        {% endwith %} 
        <div class="row justify-content-center mt-4 mb-4">
            <div class="col badge bg-primary text-wrap text-center">
                <h1>Dijkstra's Algorithm Output</h1>
            </div>
        </div>

        <form action="{{url_for('sendBName')}}" method="POST">
            {{form.hidden_tag()}}
            <div class="row justify-content-start mt-4 mb-4">
                <div class="col-md-5 text-start">
                    <h3>{{dijk[0]}}</h3>
                </div>  
                <div class="col-md-4 text-end">
                    <label class="form-label"><h3>{{form.bName.label}}</h3></label>
                </div>
                <div class="col-md-2 text-center">
                    <h3>{{form.bName(class="form-control")}}</h3>
                </div>
                <div class="col-md-1 text-end">
                    <h3>{{form.submit(class="btn btn-primary")}}</h3>
                </div>
            </div>
        </form> 
        
        <hr>

        <div class="row justify-content-start mt-4 mb-4">
            <div class="col text-start">
                <h3>{{dijk[1]}}</h3>
            </div>
        </div>    
             
        <div class="row justify-content-start mb-4">
            <div class="col text-start">
                <table class="table table-bordered border-primary text-center">
                    <thead class="table-primary border-primary">
                        <tr>
                            <th scope="col"><h3>Nodes</h3></th>
                            <th scope="col"><h3>Shortest Distance Form {{nodes.startNode}}</h3></th>
                            <th scope="col"><h3>Previous Node</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(0, distLength) %}
                            <tr class="fs-4">
                                <td scope="row">{{vList[i]}}</td>
                                <td>{{dist[i][0]}}</td>
                                {% if i == iStart %}
                                    <td>{{dist[i][1]}}</td>
                                {% else %}
                                    <td>{{vList[dist[i][1]]}}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}